@{
  ViewData["Title"] = "Success";
}

<div class="alert alert-success mt-xl-5" role="alert">
  <h4 class="alert-heading">Success!</h4>
  <p>Your request has been submitted for processing.</p>
  <hr>
</div>

